{% extends "::base.html.twig" %}

{% block title %}

    Administration

{% endblock %}

{% block content %}

    <h3> Page d'administration </h3>
    Article -
    <ul>
    	<li><button>Ajouter</button></li>
    	<li><button>Modifier</button></li>
    	<li><button>supprimer</button></li>
    </ul>
{% endblock %}