{% extends "LGDDUserBundle::layout.html.twig" %}

{% block menu %}

  {% include "LGDDUserBundle:Admin:menu.html.twig" %}

{% endblock %}

{% block content %}

  <h2>Modifier un article</h2>

  {% include "LGDDUserBundle:Admin:formulaire.html.twig" %}

  <p>
     Attention : cet article sera modifier directement
  </p>

{% endblock %}