{% extends "::base.html.twig" %}

{% block title %}
	Administration
{% endblock %}


{% block body %}
	<div id="menu">
		{% block menu %}
		{% endblock %}
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

